@model IEnumerable<SacramentMeetingPlanner.Models.Meeting>

@{
    ViewData["Title"] = "Meetings";
}

<h3 class="form-topper">Sacrament Meetings</h3>
<p>
    <a asp-action="Create" class="btn btn-sm btn-primary text-decoration-none">+ New Meeting</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary my-1">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary my-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger my-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
