@model SacramentMeetingPlanner.Models.Talk

@{
    ViewData["Title"] = "Details";
}

<h3>Talk Details</h3>

<div>
    <h4>Talk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeetingId)
        </dt>
        <dd class = "col-sm-10">
            @Model.Meeting?.Date
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speaker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speaker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm btn-primary my-1">Edit Talk</a>
    <a asp-action="Index" class="btn btn-sm btn-secondary my-1">Back to List</a>
</div>
