@model IEnumerable<SacramentMeetingPlanner.Models.Talk>

@{
    ViewData["Title"] = "Talks";
}

<h3>Talks</h3>

<p>
    <a asp-action="Create" class="btn btn-secondary btn-sm my-1">+ New Talk</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MeetingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speaker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary my-1">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary my-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-secondary my-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
