@model SacramentMeetingPlanner.Models.Activity

@{
    ViewData["Title"] = "Delete Agenda";
}

<h1 class="form-topper">Delete Agenda</h1>

<h3>Are you sure you want to delete Agenda Item?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ward
        </dt>
        <dd class="col-sm-10">
            @ViewData["ViewWard"]
        </dd>
        <dt class="col-sm-2">
            Meeting Date
        </dt>
        <dd class="col-sm-10">
            @ViewData["MeetingDate"]
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventFooter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventFooter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ActivityID" />
        <input type="submit" value="Delete" class="btn" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>