﻿
@model IEnumerable<SacramentMeetingPlanner.Models.Activity>

@{
    ViewData["Title"] = "Activity Item";
}

<h1 class="form-topper">Activity Items</h1>
<p>
    <a asp-action="Create">Create an Activity Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ward
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>                   
            @foreach(Meeting w in ViewBag.Wards)
                {
                    if(w.Id == item.MeetingID)
                    {
                        @:<td>
                            @w.Ward
                        @:</td>
                        // Break the loop so you dont get stuck inside.
                        break;
                    }
                }
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventInfo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>